<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Homepage</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../static/bootstrap-5.3.0/css/bootstrap.min.css">
            <script src="../static/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        </head>
        <body>
            <div id="header" class="container-fluid bg-success text-white p-5">
                <img class="float-start" src="../static/nstu-logo.png" height="100px" />
                <h1 class="text-center mt-4">Noakhali Science and Technology University</h1>
            </div>
            <nav class="navbar navbar-expand-sm bg-primary justify-content-center">
                <ul class="navbar-nav navbar-dark" style="font-weight: bold;">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Academics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Campus Life</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </nav>  
            <div class="container-fluid p-5 border bg-white">
                <h1>Hello world</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in doloribus pariatur nam iste quo aliquam maiores quaerat ipsum error, dicta expedita ipsam quae nulla praesentium. Aperiam rerum blanditiis praesentium.</p>
            </div>
        </body>
    </html>
</html>